.block {
  width: 360px;
}

.label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: var(--color-grey);
  line-height: 1.5;
  margin-bottom: 40px;
}

.input {
  height: 56px;
  padding: 18px 20px;
  border-radius: 12px;
  background-color: var(--color-inputs);
  border: none;
  color: var(--color-main)
}

.inputLocation {
  height: 56px;
  padding: 18px 20px 18px 46px;
  border-radius: 12px;
  background-color: var(--color-inputs);
  border: none;
  color: var(--color-main);
  width: 100%;
  outline: none;
}

.inputWrapper {
  position: relative;
  display: flex;
  align-items: center;

}

.icon {
  position: absolute;
  left: 18px;
  width: 20px;
  height: 20px;
  pointer-events: none;
  fill: var(--color-grey);
}

.activeIcon {
  fill: var(--color-main);
}

.placeholder {
  color: var(--color-grey);
}

.subtitle {
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 32px;
}

.vehicheBlock {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 32px;
}
.line {
  border-bottom: 1px solid var(--color-gray-light);
}

.vehiche {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  row-gap: 8px;
}

.button {
  padding: 16px;
  width: 166px;
  color: var(--color-white);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.005em;
  background-color: var(--color-button);
  border-radius: 200px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: var(--color-button-hover);
}