.item {
  display: flex;
  gap: 24px;
}
.image {
  width: 292px;
  height: 320px;
  border-radius: 10px;
  object-fit: cover;
}
.infoBlock {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.generalBlock {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.price {
  display: flex;
  gap: 12px;
  align-items: center;
}
.general {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.33;
}

.reviewLocationBlock {
  display: flex;
  gap: 16px;
}
.reviewLocationFlex {
  display: flex;
  gap: 4px;
  align-items: center;
}

.iconStar {
  fill: var(--color-rating);
}

.description {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 525px;
}

.propertiesBlock {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  width: 400px;
}

.button {
  padding: 16px;
  width: 166px;
  color: var(--color-white);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.005em;
  background-color: var(--color-button);
  border-radius: 200px;
  display: flex;
  justify-content: center;
  border: none;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: var(--color-button-hover);
}
